{
  "src/**/*.{vue,js}": [
    "npm run lint:fix",
    "npx prettier",
    "npm run lint:styles:fix",
    "npm run test:unit -- --config=jest.commit.config.js",
    "git add"
  ],
  "src/**/*.{css,scss,sass}": [
    "npm run lint:styles:fix",
    "git add"
  ]
}
